<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="SemiColonWeb">
	<meta name="description" content="Create SAAS &amp; AI Subscription Websites with Canvas Template. Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today.">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800;900&family=Cookie&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="/assets/css/font-icons.css">

	<!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="/assets/css/swiper.css">

	<!-- Saas Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="/assets//assets/demos/saas-2/saas-2.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/assets/css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block head %}
    <title> Lime | Innovación Pública</title>
    {% endblock %}

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Header
		============================================= -->
		<header id="header">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo" class="col-lg-2 me-lg-auto">
							<a href="index.html" class="w-auto">
								<img class="logo-default" srcset="/assets/demos/saas-2/images/logo.png, /assets/demos/saas-2/images/logo@2x.png 2x" src="/assets/demos/saas-2/images/logo@2x.png" alt="Canvas Logo">
								<img class="logo-dark" srcset="/assets/demos/saas-2/images/logo-dark.png, /assets/demos/saas-2/images/logo-dark@2x.png 2x" src="/assets/demos/saas-2/images/logo-dark@2x.png" alt="Canvas Logo">
							</a>
						</div><!-- #logo end -->

                        <div class="header-misc ms-auto col-lg-2 justify-content-lg-end">
							<a href="#" class="button button-border button-rounded rounded border-contrast-500 mx-0" style="--cnvs-btn-fontsize: 1.125rem"><i class="bi-asterisk d-none d-md-inline-block me-2 fs-6"></i>Get Started</a>
						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="one-page-menu menu-container" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-services"><div>Services</div></a>
								</li>
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-examples"><div>Examples</div></a>
								</li>
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-pricing"><div>Pricing</div></a>
								</li>
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-faqs"><div>FAQs</div></a>
								</li>
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-blog"><div>Blog</div></a>
								</li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

        {% block content %}

        {% endblock %}

        <!-- Footer
		============================================= -->
		<footer id="footer" class="bg-white border-0">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">
					<div class="row gx-4 gy-5">

						<div class="col-lg-3 col-6">

							<div class="widget widget_links widget-li-noicon">

								<h4 class="fw-bolder text-contrast-1000 text-smaller text-uppercase mb-4">How we Work</h4>

								<ul>
									<li><a href="#">Documentation</a></li>
									<li><a href="#">Feedback</a></li>
									<li><a href="#">Plugins</a></li>
									<li><a href="#">Support Forums</a></li>
									<li><a href="#">Themes</a></li>
									<li><a href="#">Canvas Blog</a></li>
								</ul>

							</div>

						</div>

						<div class="col-lg-3 col-6">

							<div class="widget widget_links widget-li-noicon">

								<h4 class="fw-bolder text-contrast-1000 text-smaller text-uppercase mb-4">About Us</h4>

								<ul>
									<li><a href="#">Feedback</a></li>
									<li><a href="#">Documentation</a></li>
									<li><a href="#">Plugins</a></li>
									<li><a href="#">Support Forums</a></li>
									<li><a href="#">Themes</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>

							</div>

						</div>

						<div class="col-lg-3 col-6">

							<div class="widget widget_links widget-li-noicon">

								<h4 class="fw-bolder text-contrast-1000 text-smaller text-uppercase mb-4">How we do</h4>

								<ul>
									<li><a href="#">Plugins</a></li>
									<li><a href="#">Support Forums</a></li>
									<li><a href="#">Themes</a></li>
									<li><a href="#">Canvas Blog</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>

							</div>

						</div>

						<div class="col-lg-3 col-6">

							<div class="widget">

								<h4 class="fw-bolder text-contrast-1000 text-smaller text-uppercase mb-4">Need Help?</h4>

								<ul class="list-unstyled">
									<li class="mb-3"><a class="text-dark" href="#"><i class="me-3 color bi-telephone-fill"></i>+0 (11) 222 333</a></li>
									<li class="mb-3"><a class="text-dark" href="#"><i class="me-3 color bi-envelope-fill"></i>no-reply@canvas.com</a></li>
									<li class="mb-3"><i class="me-3 color bi-calendar-week-fill"></i>Mon - Sat | 09:00 - 16:00</li>
									<li><i class="me-3 color bi-calendar-x-fill"></i>Sunday Closed</li>
								</ul>

							</div>

						</div>

					</div>
				</div><!-- .footer-widgets-wrap end -->
			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bg-transparent border-top op-08">
				<div class="container text-center">

					Copyrights &copy; 2023 All Rights Reserved by SemiColonWeb
					<div class="copyright-links"><a href="https://1.envato.market/c/1309643/480739/4415?u=http%3A%2F%2Fthemeforest.net%2Fuser%2Fsemicolonweb%2Fportfolio" target="_blank">Portfolio</a> / <a href="http://support.semicolonweb.com" target="_blank">Support</a></div>

				</div>
			</div>
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up rounded-circle bg-color h-bg-dark"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/assets/js/plugins.min.js"></script>
	<script src="/assets/js/functions.bundle.js"></script>

	<script>
		window.addEventListener( 'load', function() {
			var swiperParent = new Swiper('.swiper-testimonial', {
				slidesPerView: 3,
				spaceBetween: 30,
				navigation: {
					prevEl: '.slider-arrow-left',
					nextEl: '.slider-arrow-right'
				},
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				breakpoints: {
					1: {
						slidesPerView: 1
					},
					576: {
						slidesPerView: 1
					},
					768: {
						slidesPerView: 2
					},
					1200: {
						slidesPerView: 3
					}
				}
			});

			var SwiperTabsContainer = new Swiper('.swiper-tab-container', {
				loop: true,
				slidesPerView: 1,
				autoHeight: true,
				autoplay: {
					delay: 5000,
					disableOnInteraction: false,
					autoplayDisableOnInteraction: false
				},
				effect: 'fade',
				fadeEffect: {
					crossFade: true
				},
				longSwipes: true,
				autoplayDisableOnInteraction:true,
				on: {
					activeIndexChange: function(swiper) {
						var index = swiper.realIndex;
						jQuery('.swiper-tab-link').removeClass('active');
						jQuery('.swiper-tab-link').eq(index).addClass('active');
					}
				}
			});

			jQuery('.swiper-tab-link').on('click', function() {
				var index = jQuery(this).index();
				SwiperTabsContainer.slideToLoop(index);
				jQuery('.swiper-tab-link').removeClass('active');
				jQuery(this).addClass('active');
			});
		});
	</script>

    {% block body_javascripts %}

    {% endblock %}

</body>
</html>